<footer class="contato" id="contato">
  <h2 class="contato__title" [@scrollAnimation]="state">Get in Touch</h2>
  <a href="mailto:someshgusain.0007@gmail.com" [@scrollAnimation]="state">
    <button class="btn-secondary btn--degrade">CONTACT</button>
  </a>
  <ul class="list" [@scrollAnimation]="state">
    <li class="list__item ">
      <a href="https://github.com/somesh0007" target="_blank"><i class="fab fa-github fa-3x "></i></a>
    </li>
    <li class="list__item">
      <a href="https://www.linkedin.com/in/somesh-gusain/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
    </li>
  </ul>
  <!-- &copy; Copyright 2019 -->
</footer>